@(version: String)
<!-- left menu starts -->
			<div class="span2 main-menu-span">
				<div class="well nav-collapse sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">
						<li class="nav-header hidden-tablet">Main</li>
							<li data-rel="tooltip" title="Shows general information and statistics about the BaasBox status"><a class="ajax-link" href="#dashboard"><i class="icon-home"></i><span class="hidden-tablet"> Dashboard</span></a></li>
							<li data-rel="tooltip" title="Get/Set many configuration paramenters about BaasBox and your App"><a class="ajax-link" href="#settings"><i class="icon-cog"></i><span class="hidden-tablet"> Settings</span></a></li>
                            <li data-rel="tooltip" title="Modify which BaasBox API are accessible from the outside world"><a class="ajax-link" href="#permissions"><i class="icon-lock"></i><span class="hidden-tablet"> Api Access</span></a></li>
							<li data-rel="tooltip" title="Manage the database: backup, restore, reset"><a class="ajax-link" href="#dbmanager"><i class="icon-hdd"></i><span class="hidden-tablet"> DB Management</span></a></li>
						<li class="nav-header hidden-tablet">Users</li>
							<li data-rel="tooltip" title="Roles management page"><a class="ajax-link" href="#roles"><i class=" icon-eye-open"></i><span class="hidden-tablet"> Roles</span></a></li>
							<li data-rel="tooltip" title="Users management page"><a class="ajax-link" href="#users"><i class="icon-user"></i><span class="hidden-tablet"> Users</span></a></li>
						<li class="nav-header hidden-tablet">Data</li>
							<li data-rel="tooltip" title="Manage the collections, a sort of bucket for data objects."><a class="ajax-link" href="#collections"><i class="icon-book"></i><span class="hidden-tablet"> Collections</span></a></li>
							<li data-rel="tooltip" title="Documents are arbitrary objects stored in the collections"><a class="ajax-link" href="#documents"><i class="icon-file"></i><span class="hidden-tablet"> Documents</span></a></li>
						<li class="nav-header hidden-tablet">Storage</li>
							<li data-rel="tooltip" title="Manage the Files stored on BaasBox"><a class="ajax-link" href="#files"><i class="icon-picture"></i><span class="hidden-tablet"> Files</span></a></li>
							<li data-rel="tooltip" title="Manage the Assets, public data available without authentication"><a class="ajax-link" href="#assets"><i class="icon-picture"></i><span class="hidden-tablet"> Assets</span></a></li>
						<li class="nav-header hidden-tablet">Help</li>
							<li data-rel="tooltip" title="Take a tour through the main console features"> <a  data-tour="general" class="tour"  ><span class="hidden-tablet"><i class="icon-globe"></i> General Tour</span></a></li>
							<!--
							<li data-rel="tooltip" title="See new features"> <a  data-tour="whatsnew" class="tour" ><span class="hidden-tablet"><i class="icon-list"></i> New Features Tour</span></a></li>
							<li data-rel="tooltip" title="Explore each section with a brief tour. Each Console page has a specific tour"> <a id="tour" class=""><span class="hidden-tablet"><i class="icon-hand-right"></i> Page Tour</span></a></li>
							-->
							<li > <a class="directLink" target="_new" href="http://www.baasbox.com/version/help/doc/@(version.toLowerCase().replaceAll("-snapshot",""))"><i class=" icon-book"></i> Online Doc</a></li>
							<li data-rel="tooltip" title="Take a look to the tutorial section"> <a target="_new" href="http://www.baasbox.com/tutorial/" id="tour" class="directLink"><span class="hidden-tablet"><i class="icon-question-sign"></i> Tutorial</span></a></li>
						<li class="nav-header hidden-tablet">&nbsp;</li>
							<li data-rel="tooltip" title="Exit the administration console"> <a class="ajax-link logout"><span class="hidden-tablet"><i class=" icon-off"></i> Logout</span></a></li>
					</ul>
					<label style="display:none" id="for-is-ajax" class="hidden-tablet" for="is-ajax"><input id="is-ajax" type="checkbox"> Ajax on menu</label>
				</div><!--/.well -->
			</div><!--/span-->
<!-- left menu ends -->
