@font-face {
    font-family: 'lato';
    src: url('Lato-Reg.ttf') format('truetype');
}

@font-face {
    font-family: 'lato';
    src: url('Lato-Bol.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'lato';
    src: url('Lato-RegIta.ttf') format('truetype');
    font-style: italic;
}
@font-face {
    font-family: 'lato';
    src: url('Lato-BolIta.ttf') format('truetype');
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: 'fjalla';
    src: url('FjallaOne-Regular.otf') format('opentype');
}

#dbmanager .actions{
	margin:7px 0 31px 0;
}

p.errors{
 color:red;
 font-size:14px;
}

p.title {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 27px;
	font-size: 19.5px;
	line-height: 36px;
	color: #333333;
	border: 0;
	border-bottom: 1px solid #e5e5e5;
}

p.hint{
	display: block;
	top: -10px;
	position: relative;
	font-style: italic;
	color: #777;
}


.social-button-container {
	margin-bottom:15px;
}

.btn-google {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #d34332;
  *background-color: #c53727;
  background-image: -moz-linear-gradient(top, #dd4b39, #c53727);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dd4b39), to(#c53727));
  background-image: -webkit-linear-gradient(top, #dd4b39, #c53727);
  background-image: -o-linear-gradient(top, #dd4b39, #c53727);
  background-image: linear-gradient(to bottom, #dd4b39, #c53727);
  background-repeat: repeat-x;
  border-color: #c53727 #c53727 #85251a;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdd4b39', endColorstr='#ffc53727', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-google:hover,
.btn-google:focus,
.btn-google:active,
.btn-google.active,
.btn-google.disabled,
.btn-google[disabled] {
  color: #ffffff;
  background-color: #c53727;
  *background-color: #b03123;
}

span.form-saved{
	color:red;
}

.btn-google:active,
.btn-google.active {
  background-color: #9a2b1f \9;
}


div.settings{
	margin-bottom:24px;
}
div.setting {
	margin-bottom:12px;
}
div.setting p {
	margin:0 0 3px 0;
}
div.setting button.save {
	margin-top:-10px;
}
div.setting span.error{
	color:red;
	padding-left:12px;
}

div.setting div.uploaded{
	background-color:#aeaeae;
	padding:3px;
	margin-bottom:13px;
}
div.setting input[type=file]{
	clear:left;
	display:block;
}

div.setting button.upload {
	margin-top:0;
}

.box-header > h2 {
    margin: 0;
}
.navbar-inner {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-image: none;
}
.navbar .brand, .navbar .nav > li > a {
    color: #2e2727;
}
.sidebar-nav {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.box-header{
    background: #f5f5f5;
}
/*a {*/
    /*text-decoration: none;*/
    /*color: #538378;*/
    /*font-family: 'lato' sans-serif;*/
/*}*/
/*a:hover {*/
    /*color: #2f2828;*/
/*}*/

/*.breadcrumb {*/
    /*background: #d7d1b7;*/
    /*-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2);*/
    /*-moz-box-shadow: 0 1px 0 rgba(0,0,0,0.2);*/
    /*box-shadow: 0 1px 0 rgba(0,0,0,0.2);*/
/*}*/
/*.alert {*/
    /*-webkit-border-radius: 0;*/
    /*-moz-border-radius: 0;*/
    /*border-radius: 0;*/
    /*border: none;*/

/*}*/

/*.alert-info {*/
    /*background-color: #e5dfc3;*/
    /*color: #7f7c6d;*/
/*}*/


/*.label-success, .badge-success{*/
    /*background-color: #538378;*/
/*}*/

/*.label-important, .badge-important{*/
    /*background-color: #7b3d35;*/
/*}*/
.box, .breadcrumb {
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.1);
    box-shadow: 0 1px 0 rgba(0,0,0,0.1);
}

.box-header {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

}
.sidebar-nav {
    /*box-shadow: none;*/
    /*-moz-box-shadow: none;*/
    /*-webkit-box-shadow: none;*/
}
.nav-tabs.nav-stacked > li > a {

}
/*.bb-main-container{*/
    /*padding-left: 0;*/
    /*padding-right: 0;*/
/*}*/
/*@media(min-width: 768px) {*/
    /*.main-menu-span {*/
        /*margin-right: 0 !important;*/
    /*}*/
    /*#content{*/
        /*margin-left: 0;*/
        /*width: 93.8%;*/
    /*}*/
/*}*/
/*@media(min-width: 980px) {*/
    /*#content {*/
        /*margin-left: 0;*/
        /*width: 85.10638298%;*/
    /*}*/
/*}*/
/*@media (min-width: 1200px) {*/
    /*#content {*/
        /*margin-left: 0.9%;*/
        /*width: 84.57008547%;*/
    /*}*/
/*}*/
