@(version: String)
@import helper._
@import com.baasbox.controllers.routes._
<!DOCTYPE html>
<html ng-app lang="en">
<head>
	<!--
		Template derived from Charisma v1.0.0 by Muhammad Usman
		http://usman.it
	-->
	<meta charset="utf-8" />
	<title>BaasBox Admin Panel</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="BaasBox Admin Panel" />
	<meta name="author" content="BaasBox" />

	<!-- The styles -->

	<link id="bs-css" href="css/bootstrap-classic.css" rel="stylesheet" />
	<style type="text/css">
	  body {
		padding-bottom: 40px;
	  }
	  .sidebar-nav {
		padding: 9px 0;
	  }
	</style>
	<link href="css/bootstrap-responsive.css" rel="stylesheet">
	<link href="css/charisma-app.css" rel="stylesheet">
	<link href="css/social-buttons.css" rel="stylesheet">


	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- The fav icon -->
	<link rel="shortcut icon" href="img/favicon.ico">
	<link rel="icon" href="img/favicon.ico" />
	<!--<link href="css/theme.css" rel="stylesheet">-->
    <link href='css/baasbox.css' rel='stylesheet'>
    <!--<link href="css/bb-theme.css" rel="stylesheet">-->
</head>

<body>
	@noscript()
	<!-- --------- -->
	<input id="loggedIn" type="hidden" ng-model="loggedIn"   ng-init="loggedIn=false"/>
	@admin.login(version)
	@admin.main(version)


	<!-- stylesheets -->
	<link href="css/jquery-ui-1.8.21.custom.css" rel="stylesheet">
	<link href='css/fullcalendar.css' rel='stylesheet'>
	<link href='css/fullcalendar.print.css' rel='stylesheet'  media='print'>
	<link href='css/chosen.css' rel='stylesheet'>
	<link href='css/uniform.default.css' rel='stylesheet'>
	<link href='css/colorbox.css' rel='stylesheet'>
	<link href='css/jquery.cleditor.css' rel='stylesheet'>
	<link href='css/jquery.noty.css' rel='stylesheet'>
	<link href='css/noty_theme_default.css' rel='stylesheet'>
	<link href='css/elfinder.min.css' rel='stylesheet'>
	<link href='css/elfinder.theme.css' rel='stylesheet'>
	<link href='css/jquery.iphone.toggle.css' rel='stylesheet'>
	<link href='css/opa-icons.css' rel='stylesheet'>
	<link href='css/uploadify.css' rel='stylesheet'>
	<link href='css/uploadify.css' rel='stylesheet'>


	<!-- --------- -->
	<!-- jQuery -->
	<script src="js/jquery-1.7.2.min.js"></script>
	<!-- jQuery UI -->
	<script src="js/jquery-ui-1.8.21.custom.min.js"></script>
	<!-- zrss feed reader -->
	 <script src="js/jquery.zrssfeed.min.js" type="text/javascript"></script>
	<!-- transition / effect library -->
	<script src="js/bootstrap-transition.js"></script>
	<!-- alert enhancer library -->
	<script src="js/bootstrap-alert.js"></script>
	<!-- modal / dialog library -->
	<script src="js/bootstrap-modal.js"></script>
	<!-- custom dropdown library -->
	<script src="js/bootstrap-dropdown.js"></script>
	<!-- scrolspy library -->
	<script src="js/bootstrap-scrollspy.js"></script>
	<!-- library for creating tabs -->
	<script src="js/bootstrap-tab.js"></script>
	<!-- library for advanced tooltip -->
	<script src="js/bootstrap-tooltip.js"></script>
	<!-- popover effect library -->
	<script src="js/bootstrap-popover.js"></script>
	<!-- button enhancer library -->
	<script src="js/bootstrap-button.js"></script>
	<!-- accordion library (optional, not used in demo) -->
	<script src="js/bootstrap-collapse.js"></script>
	<!-- carousel slideshow library (optional, not used in demo) -->
	<script src="js/bootstrap-carousel.js"></script>
	<!-- autocomplete library -->
	<script src="js/bootstrap-typeahead.js"></script>
	<!-- tour library -->
	<script src="js/bootstrap-tour.js"></script>
	<!-- library for cookie management -->
	<script src="js/jquery.cookie.js"></script>
	<!-- calander plugin -->
	<script src='js/fullcalendar.min.js'></script>
	<!-- data table plugin -->
	<script src='js/jquery.dataTables.min.js'></script>
	<script type="text/javascript" src="js/jquery.dataTables.editable.js"></script>
	<script type="text/javascript" src="js/jquery.jeditable.js"></script>
	<script type="text/javascript" src="js/jquery.validate.js"></script>
	<script src="js/ColReorderWithResize.js"></script>
	<!-- chart libraries start -->
	<script src="js/excanvas.js"></script>
	<script src="js/jquery.flot.min.js"></script>
	<script src="js/jquery.flot.pie.min.js"></script>
	<script src="js/jquery.flot.stack.js"></script>
	<script src="js/jquery.flot.resize.min.js"></script>
	<!-- chart libraries end -->

	<!-- select or dropdown enhancer -->
	<script src="js/jquery.chosen.min.js"></script>
	<!-- checkbox, radio, and file input styler -->
	<script src="js/jquery.uniform.min.js"></script>
	<!-- plugin for gallery image view -->
	<script src="js/jquery.colorbox.min.js"></script>
	<!-- rich text editor library -->
	<script src="js/jquery.cleditor.min.js"></script>
	<!-- notification plugin -->
	<script src="js/jquery.noty.js"></script>
	<!-- file manager library -->
	<script src="js/jquery.elfinder.min.js"></script>
	<!-- star rating plugin -->
	<script src="js/jquery.raty.min.js"></script>
	<!-- for iOS style toggle switch -->
	<script src="js/jquery.iphone.toggle.js"></script>
	<!-- autogrowing textarea plugin -->
	<script src="js/jquery.autogrow-textarea.js"></script>
	<!-- multiple file upload plugin -->
	<script src="js/jquery.uploadify-3.1.min.js"></script>
	<!-- history.js for cross-browser state change on ajax -->
	<script src="js/history.adapter.jquery.js"></script>
	<script src="js/history.js"></script>
	<!-- application script for Charisma demo -->
	<script src="js/charisma.js"></script>

	<!-- BaasBox  -->
	<script type="text/javascript" src="@com.baasbox.controllers.routes.AllRoutes.javascriptRoutes"></script>
	<script type="text/javascript" src="bbjs/baasboxgui.js"></script>
	<script type="text/javascript" src="bbjs/tour.js"></script>
	<script type="text/javascript" src="bbjs/whatsnew-tour.js"></script>

	<!-- AngularJS -->
	<script src="js/angular.min.js"></script>

	<!-- jquery.form x Upload File -->
	<script src="js/jquery.form.js"></script>



<script type="text/javascript" src="//assets.zendesk.com/external/zenbox/v2.6/zenbox.js"></script>

<link href='http://assets.zendesk.com/external/zenbox/v2.6/zenbox.css' rel='stylesheet'  media='screen'>
<link href='http://assets.zendesk.com/external/zenbox/v2.6/zenbox.css' rel='stylesheet'  media='projection'>
<script type="text/javascript">
  if (typeof(Zenbox) !== "undefined") {
    Zenbox.init({
      dropboxID:   "20232907",
      url:         "https://baasbox.zendesk.com",
      tabTooltip:  "Feedback",
      tabImageURL: "https://assets.zendesk.com/external/zenbox/images/tab_feedback_right.png",
      tabColor:    "#3986AC",
      tabPosition: "Right"
    });
  }
</script>



</body>

</html>
